body {
    padding: 30px;
    background-color: rgb(255, 255, 255);
    margin-top: 0px;
  }

.Content{
    margin: 20px;
}

h2, p {
    text-align: left;
    color: rgb(0, 0, 0);
  }
hr.underline {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 2px;
  }

.header {
    text-align: left;
    grid-column: 2;
    grid-row: 1;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    margin-bottom: 5px;
    flex: 1;
}

.column {
    float: left;
    width: 30%;
    padding: 5px;
}

.column2 {
    float: left;
    width: 24%;
    padding: 5px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
img.center {
    text-align: center;
}

.nav-bar ul{

    list-style-type: none;
    background-color: lightskyblue;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    font-size: 30px;
    font-display: block;
    font-weight:bold;
}

.nav-bar a{

    color: black;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.nav-bar a:hover{
    background-color: floralwhite;
}

.nav-bar li{
    float: left;

}
 figcaption{
     font-weight:bold;
     font-size: 17px;
 }

.smallimage {
    height: auto;
    width: 100px;
    border-radius: 2%;
    float: right;
}



